.documentFirstHeading{    
    line-height: 4rem;
    font-weight: 600;
    color: #0c326f;
    padding-bottom: 10px;
    margin: 0;
}

.documentDescription{
    margin: 0;
    padding-bottom: 8px;
    
    font-weight: 400;
    font-size: 1.8rem;
    color: #555;
    line-height: normal;    
}

div.entry-content p:first-child:first-letter {
    color: #0c326f;
    font-size: 4rem;
    display: block;
    font-weight: 700;
    float: left;
    line-height: 2rem;
    margin-right: 8px;   
}

a.link-category:link{
    font-weight: 500;
    font-size: 1.6rem;
    color: #2670e8;
    line-height: 1.5;  
      
}

h4.tileHeadline{
    font-weight: 600;
    font-size: 1.5rem;
    color: #0c326f;
    line-height: 2.2rem;    
}