.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px; }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  transition: transform 0.6s ease; }
  @media screen and (prefers-reduced-motion: reduce) {
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
      transition: none; } }

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0; }

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      transform: translate3d(0, 0, 0); } }

.carousel-item-next,
.active.carousel-item-right {
  transform: translateX(100%); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-next,
    .active.carousel-item-right {
      transform: translate3d(100%, 0, 0); } }

/*ATE AQUI 3*/
.carousel-item-prev,
.active.carousel-item-left {
  transform: translateX(-100%); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-prev,
    .active.carousel-item-left {
      transform: translate3d(-100%, 0, 0); } }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0; }

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0); }
  @supports (transform-style: preserve-3d) {
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
      transform: translate3d(0, 0, 0); } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  color: #fff;
  text-align: center;
  opacity: 0.5; }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9; }

/*ATE AQUI 2*/      

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); }
    .carousel-indicators li::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: ""; }
    .carousel-indicators li::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: ""; }
  .carousel-indicators .active {
    background-color: #fff; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center; }

  .carousel-wrapper {
      margin: 0;
      background: #000000;}
      @media (min-width: 1150px) {
        .carousel-wrapper {
          min-height: 680px; } }
    
/*ATE AQUI 1*/        


    @media (min-width: 320px) and (max-width: 1150px) {
      .carousel-wrapper {
        min-height: 40vh; } }
        
      .carousel-wrapper #jumbotron-carousel {
        margin-bottom: 0; }
        .carousel-wrapper #jumbotron-carousel .carousel-control-next,
        .carousel-wrapper #jumbotron-carousel .carousel-control-prev {
          z-index: 2; }
        .carousel-wrapper #jumbotron-carousel .carousel-indicators {
          bottom: 10px; }
          .carousel-wrapper #jumbotron-carousel .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.6); }
            .carousel-wrapper #jumbotron-carousel .carousel-indicators li.active {
              background-color: white; }
        .carousel-wrapper #jumbotron-carousel .carousel-item {
          max-height: 680px; }
    
    @media (min-width: 320px) and (max-width: 1150px) {
      .carousel-wrapper #jumbotron-carousel .carousel-item {
        max-height: 400px; } }
          .carousel-wrapper #jumbotron-carousel .carousel-item img {
            display: block;
            height: 680px;
            object-fit: cover; }
    
    @media (min-width: 320px) and (max-width: 1150px) {
      .carousel-wrapper #jumbotron-carousel .carousel-item img {
        height: 50vh; } }
          .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption {
            z-index: 2;
            text-align: left;
            max-width: 1140px;
            margin: auto;
            padding-left: 15px;
            padding-right: 15px;
            left: 0;
            right: 0; }
    
    @media (min-width: 320px) and (max-width: 1150px) {
      .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption {
        padding: 0 0 60px;
        bottom: 0; }
        .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption:before {
          content: "";
          width: 100%;
          height: calc(100% + 200px);
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: -1;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000); }
        .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption .container {
          padding: 0; }
        .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption h2 {
          font-size: 18px;
          margin: 0;
          display: block;
          width: 100%;
          margin: 0 auto;
          text-align: center; }
        .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption p {
          display: none; } }
            .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption a {
              display: block;
              color: #FFFFFF; }
              .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption a:hover {
                color: #0094FF;
                text-decoration: none; }
          .carousel-wrapper #jumbotron-carousel .carousel-item:before {
            content: " ";
            background-color: transparent;
            /*background-image: -o-radial-gradient(transparent, #000);
            background-image: radial-gradient(transparent, #000);*/
            white-space: nowrap;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: .8;
            z-index: 1;
            text-indent: -3000px; }
    
    @media (min-width: 320px) and (max-width: 1150px) {
      .carousel-wrapper #jumbotron-carousel .carousel-item:before {
        display: none; } }
        .high-contrast .carousel-wrapper #jumbotron-carousel .carousel-item .carousel-caption {
          background: #000000; }
          


          .w-25 {
            width: 25% !important; }
          
          .w-50 {
            width: 50% !important; }
          
          .w-75 {
            width: 75% !important; }
          
          .w-100 {
            width: 100% !important; }
          
          .w-auto {
            width: auto !important; }
          
          .h-25 {
            height: 25% !important; }
          
          .h-50 {
            height: 50% !important; }
          
          .h-75 {
            height: 75% !important; }
          
          .h-100 {
            height: 100% !important; }
          
          .h-auto {
            height: auto !important; }
          
          .mw-100 {
            max-width: 100% !important; }
          
          .mh-100 {
            max-height: 100% !important; }
            
            
            